@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bg-red-500">DENEME</h1>
    <h1 class="display-4 bg-yellow-500">DENEME</h1>
    <h1 class="display-4 bg-pink-800">DENEME</h1>
    <h1 class="display-4 bg-blue-300">DENEME</h1>
    <h1 class="display-4 bg-green-300">DENEME</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
