@model IndexViewModel


@if (!Model.IsCorrrect)
{
    <p> @Model.ActionFilterErrorrMessage</p>
}

<form action="/Home/Index" method="post">
    <input type="text" name="Email" placeholder="e-mail">
    <input type="text" name="Name" placeholder="name">
    <input type="submit" value="Gonder">
</form>