@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Schwifty;
    src: url('../src/fonts/get_schwifty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    @apply font-schwifty bg-lightPeach pt-5
}

h1 {
    @apply text-7xl
}

h2 {
    @apply text-6xl
}

h3 {
    @apply text-5xl
}

h4 {
    @apply text-4xl
}

h5 {
    @apply text-3xl
}