@model SelectorVM

@{
    ViewData["Title"] = "Sevgi Neydi...?";
}

<h2> @Model.Topics[0].Name </h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus distinctio architecto delectus sint vero maxime facere
    itaque! Adipisci nemo quia iusto, voluptatem nostrum numquam rem doloribus temporibus. Ipsam quidem quos unde
    explicabo reprehenderit voluptas harum fuga sint est non nihil rem illum, adipisci debitis cupiditate eveniet fugit
    suscipit porro, corporis, corrupti numquam laborum repellendus iste. Et pariatur possimus vero neque magni dolores,
    reiciendis quibusdam! Reprehenderit reiciendis, expedita corporis itaque doloremque voluptates neque repellendus
    ducimus vitae veniam similique consequuntur explicabo optio et laudantium! Illum, consectetur provident! Recusandae
    atque a aliquid id vel cumque quas nobis repudiandae. Molestias cum nam consectetur accusamus?</p>
<img src="https://www.olusumhaber.com/images/makaleler/2022/12/guclu-bir-iliski-icin-ilk-adim-sevgi-haritasi-3559.webp"
    alt="Sevgi">