@model SaveUserViewModel


<form action="/Auth/SaveUser" method="post" class="container mt-5">

    @if (Model != null)
    {
        @if (Model.IsOk)
        {
            <div class="alert alert-primary" role="alert">
                Succesfully Saved! @DateTime.Now
            </div>
        }
    }

    @Html.TextBoxFor(s => s.Name, new { @class = "mb-3 form-control", placeholder = "Enter Your Name" })


    @Html.TextBoxFor(s => s.Email, new { @class = "mb-3 form-control", placeholder = "Enter You E-Mail" })


    @Html.PasswordFor(s => s.Password, new { @class = "mb-3 form-control", placeholder = "Enter Your Password" })



    <input type="submit" value="Save" class="btn btn-primary">
</form>
