@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'WubbaLubbaDubDub'; /* Fontun proje içindeki adı */
    src: url('/fonts/WubbaLubbaDubDub.ttf') format('truetype'),
        url('/fonts/WubbaLubbaDubDub.otf') format('opentype');
}

body {
    font-family: 'WubbaLubbaDubDub', sans-serif; /* Yedek olarak sans-serif eklenebilir */
}