@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-b from-skyBlue to-aqua min-h-screen
}

h1 {
    @apply text-7xl
}

h2 {
    @apply text-6xl
}

h3 {
    @apply text-5xl
}

h4 {
    @apply text-4xl
}

h5 {
    @apply text-3xl
}

p {
    @apply text-xl
}

.addStudent
{
    @apply flex flex-col items-center justify-center p-8 rounded-lg shadow-xl bg-navyBlue text-aqua mb-9
}