@model PostModel
<form method="post" action="/Home/Privacy">

    @Html.TextBoxFor(s => s.Id)
    @Html.TextBoxFor(s => s.Name)
    @Html.TextBoxFor(s => s.Age)
    <input type="submit" value="gönder">
</form>